---
path: /djda
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">

    <title>Dan Ancona - Simple Revolutions</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">
      
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="/assets/soundmanager/script/soundmanager2.js"></script>
    <script>
    soundManager.setup({
      url: '/assets/soundmanager/swf-files',
      flashVersion: 9, // optional: shiny features (default = 8)
      // optional: ignore Flash where possible, use 100% HTML5 mode
      // preferFlash: false,
    });
    </script>
    <link href='/assets/soundmanager/demo/360-player/360player.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/assets/soundmanager/demo/360-player/script/berniecode-animator.js"></script>
    <script src="/assets/soundmanager/demo/360-player/script/360player.js"></script>

    <script src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/smoothscroll.js"></script> 
    <script src="/assets/js/Chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->

    <meta property="og:title" content="dj da - dan ancona" />
    <meta property="og:description" content="sonic excellence for unlocking emotions and other good times" />
    <meta property="og:image" content="http://simplerevolutions.com/djda/shiva-nottoolarge.jpg" />
    <meta property="og:url" content="http://simplerevolutions.com/djda/" />

    </style>

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">

  <div id="section-topbar">
    <div id="topbar-inner">
      <div class="container">
        <div class="row">
          <div class="dropdown">
            <ul id="nav" class="nav">
              <li class="menu-item"><a href="/"><i class="icon-home"></i></a>
            </ul><!--/ uL#nav -->
          </div><!-- /.dropdown -->

          <div class="clear"></div>
        </div><!--/.row -->
      </div><!--/.container -->
      <div class="clear"></div>
    </div><!--/ #topbar-inner -->
  </div><!--/ #section-topbar -->
  
  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-12">
          <h1>dj da - dan ancona</h1>
          <h3>sonic excellence for unlocking emotions and other good times</h3>
        </div><!--/.col-lg-12 -->
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/.#headerwrap -->
  
  <section id="work" name="work"></section>
  <!--PORTFOLIO DESCRIPTION -->
  <div class="container desc">

<!--     <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>2016</h5>
      </div>
    </div>
 -->

 <div markdown="1">
    {% for set in site.data.sets %}

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <p><img class="img-responsive" src="{{set.img}}" alt=""></p>
      </div>

      <div class="col-lg-3">
        <p style="margin-bottom: 5px"><a href="/djda/sets/{{set.title | slugify}}">{{set.title}}</a></p>
        <p style="margin-top: 5px">{{set.date}} {{set.year}}. {{set.desc}}</p>

        <div class="ui360">
         <a href="{{set.mp3}}"></a>
        </div>
        <a href="{{set.mp3}}">download</a><br/>
        {% if set.tags %}<sm><i class="icon-tag"></i>{{set.tags}}</sm>{% endif %}
        <br/>
      </div>
    </div>

    {% endfor %}
</div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <p><img class="img-responsive" src="yxyy-overhead.jpg" alt=""></p>
      </div>
      
      <div class="col-lg-3">

        <p>YES AND YES YES 003</p>
        <p>June 02015. One of my (numerous) favorite parts about the summer creative/techie conference <a href="http://www.yesandyesyes.com/">YxYY</a> is that I pretty much always get a chance to dj my face off. This year I played sets at the pool, prom and the last-day morning daybreaker.
        </p>

        <table style="margin-bottom: 5px;">
          <tr style="vertical-align: top">
            <td style="width: 33%">
              <div class="ui360">
               <a href="/sets/YxYY15-Pool-djda.mp3"></a>
              </div>
              pool<br>
              <a href="/sets/YxYY15-Pool-djda.mp3">download</a><br><a href="YxYY15Pool.html">setlist</a><br/>
              <sm><i class="icon-tag"></i> laptop-melting house</sm>
            </td>
            <td style="width: 33%">
              <div class="ui360">
               <a href="/sets/YxYY15-Prom-djda.mp3"></a>
              </div>
              prom<br>
              <a href="/sets/YxYY15-Prom-djda.mp3">download</a><br><a href="YxYY15Prom.html">setlist</a><br/>
              <sm><i class="icon-tag"></i> dramatic emo into dancey fun breaks and house</sm>
            </td>
            <td style="width: 33%">
              <div class="ui360">
               <a href="/sets/YxYY15-Daybreaker-djda.mp3"></a>               
              </div>
              daybreaker<br>
              <a href="/sets/YxYY15-Daybreaker-djda.mp3">download</a><br/><a href="YxYY15Daybreaker.html">setlist</a><br/>
              <sm><i class="icon-tag"></i> breaks, hip hop, weird stuff</sm>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>2014</h5>
      </div>

      <div class="col-lg-6">
        <p><img class="img-responsive" src="shiva.jpg" alt=""></p>
      </div>
      <div class="col-lg-3">
          <p style="margin-bottom: 5px">DEAR LOVER</p>
        <p style="margin-top: 5px">Nov 02014. One of the best times I've ever had at a party, and one of my favorite sets.
        </p>

        <div class="ui360">
         <a href="/sets/DearLover-Nov02014-djda.mp3"></a>
        </div>
        <a href="/sets/DearLover-Nov02014-djda.mp3">download</a><br/>
        <a href="/sets/DearLover-Nov02014-djda.html">setlist</a><br/>
        <i class="icon-tag"></i> fun house, remixes
     </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <p><img class="img-responsive" src="Defy Gravity - dj da @ YxYY002 - 13 July 02014.jpg" alt=""></p>
      </div>
      <div class="col-lg-3">
        <p style="margin-bottom: 5px">YES AND YES YES 002</p>
        <p style="margin-top: 5px">July 02014. Poolside in Palm Springs. Sunset. People applauded at one point. 
        </p>

        <div class="ui360">
         <a href="/sets/YxYY14DefyGravity-13July02014-djda.mp3"></a>
        </div>
        <a href="/sets/YxYY14DefyGravity-13July02014-djda.mp3">download</a><br/>
        <a href="/sets/YxYY14DefyGravity-13July02014-djda.html">setlist</a><br/>
        <i class="icon-tag"></i> chill house and breaks
     </div>
    </div>


    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <p><img class="img-responsive" src="djhome.jpg" alt=""></p>
      </div>
      <div class="col-lg-3">
          <p style="margin-bottom: 5px">CONNECT DANCE LOVE</p>
        <p style="margin-top: 5px">March 02014. I've become one of the regulars for this legendary dancey fun and lovey party that some friends throw.
        </p>

        <div class="ui360">
         <a href="/sets/ConnectDanceLove-30Mar02014-djda.mp3"></a>
        </div>
        <a href="/sets/ConnectDanceLove-30Mar02014-djda.mp3">download</a><br/>
        <a href="/sets/ConnectDanceLove-30Mar02014-djda.html">setlist</a><br/>
        <i class="icon-tag"></i> fun house
     </div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>2013</h5>
      </div>

      <div class="col-lg-6">
        <p><img class="img-responsive" src="Deep Grain Of Love - Spring 2013.jpg" alt=""></p>
      </div>
      <div class="col-lg-3">
        <p style="margin-bottom: 5px">DEEP GRAIN OF LOVE</p>
        <p style="margin-top: 5px">Inspired by ecstatic dance, the poetry of David Whyte and by all warriors for self-compassion. 
        </p>

        <div class="ui360">
         <a href="/sets/DeepGrainOfLove-djda.mp3"></a>
        </div>
        <a href="/sets/DeepGrainOfLove-djda.mp3">download</a><br/>
        <i class="icon-tag"></i> spoken word into ecstatic groove
     </div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>2012</h5>
      </div>

      <div class="col-lg-6">
        <p><img class="img-responsive" src="oneday.jpg" alt=""></p>
      </div>
      <div class="col-lg-3">
        <p style="margin-bottom: 5px">ONE DAY</p>
        <p style="margin-top: 5px">Leonard Lake 2012
        </p>

        <div class="ui360">
         <a href="/sets/OneDayMix-Leonard12-djda.mp3"></a>
        </div>
        <a href="/sets/OneDayMix-Leonard12-djda.mp3">download</a><br/>
        <i class="icon-tag"></i> weird house
     </div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>2009</h5>
      </div>

      <div class="col-lg-6">
        <p><img class="img-responsive" src="/assets/img/rainbowjesus.gif" alt=""></p>
      </div>
      <div class="col-lg-3">
        <p style="margin-bottom: 5px">ATHA ONE</p>
        <p style="margin-top: 5px">Inspired by Kristie Dahlia Home.
        </p>

        <div class="ui360">
         <a href="/sets/AthaOne-djda.mp3"></a>
        </div>
        <a href="/sets/AthaOne-djda.mp3">download</a><br/>
        <i class="icon-tag"></i> electic chill
     </div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>1999</h5>
      </div>

      <div class="col-lg-6">
        <p><img class="img-responsive" src="raveshack.jpg" alt=""></p>
      </div>
      <div class="col-lg-3">
        <p style="margin-bottom: 5px">bianca's at dawn (burning man 1999)</p>
        </p>

        <div class="ui360">
         <a href="/sets/BurningMan1999-djda.mp3"></a>
        </div>
        <a href="/sets/BurningMan1999-djda.mp3">download</a><br/>
        <i class="icon-tag"></i> fluffy trance into eclectic ambient
     </div>
    </div>


    <br>
    <br>
  </div><!--/.container -->
  


  <section id="contact" name="contact"></section>
  <!--FOOTER DESCRIPTION -->
  <div id="footwrap">
    <div class="container">
      <div class="row">
      
        <div class="col-lg-2 col-lg-offset-1">
          <h5>CONTACT</h5>
        </div>
        <div class="col-lg-6">
          <p><t>Email</t><br/>
            da@simplerevolutions.com <br/>
          </p>
          <p><t>Geo</t><br/>
            Oakland, California. <br/>
            USA <br/>
          </p>
        </div>
        <div class="col-lg-3">
          <p><sm>SOCIAL LINKS</sm></p>
          <p>
            <a href="http://twitter.com/DanAncona/"><i class="icon-twitter"></i></a>
            <a href="https://www.facebook.com/dan.ancona?_rdr"><i class="icon-facebook"></i></a>
            <a href="http://www.linkedin.com/in/danancona"><i class="icon-linkedin"></i></a>
            <a href="https://medium.com/@DanAncona"><i class="icon-font"></i></a>
            <a href="http://danancona.blogspot.com/"><i class="icon-bold"></i></a>
          </p>
        </div>
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/ #footer -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/bootstrap.js"></script>
</body>
</html>
