SetEnvIfNoCase Request_URI ^/tvcongress SECURED

AuthName "Restricted Area"
AuthType Basic
AuthUserFile /home/da/.htpasswd
AuthGroupFile /
Require valid-user

Satisfy    any
Order      Allow,Deny
Allow from all
Deny from env=SECURED