<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">

    <title>Dan Ancona - Simple Revolutions</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">
      
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="/assets/soundmanager/script/soundmanager2.js"></script>
    <script>
    soundManager.setup({
      url: '/assets/soundmanager/swf-files',
      flashVersion: 9, // optional: shiny features (default = 8)
      // optional: ignore Flash where possible, use 100% HTML5 mode
      // preferFlash: false,
    });
    </script>
    <link href='/assets/soundmanager/demo/360-player/360player.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/assets/soundmanager/demo/360-player/script/berniecode-animator.js"></script>
    <script src="/assets/soundmanager/demo/360-player/script/360player.js"></script>

    <script src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/smoothscroll.js"></script> 
    <script src="/assets/js/Chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->

    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="another quality sonic journey from dj da" />
    <meta property="og:image" content="{{page.img}}" />
    <meta property="og:url" content="http://simplerevolutions.com/djda/{{page.title | slugify}}.html" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72393561-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-72393561-3');
    </script>

    </style>

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">

  <div id="section-topbar">
    <div id="topbar-inner">
      <div class="container">
        <div class="row">
          <div class="dropdown">
            <ul id="nav" class="nav">
              <li class="menu-item"><a href="/"><i class="icon-home"></i></a>
              <li class="menu-item"><a href="/djda"><i class="icon-chevron-left"></i></a>
<!--              <li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="icon-user"></i></a></li>
              <li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i class="icon-file"></i></a></li>
              <li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i class="icon-briefcase"></i></a></li>
              <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="icon-envelope"></i></a></li>
 -->            </ul><!--/ uL#nav -->
          </div><!-- /.dropdown -->

          <div class="clear"></div>
        </div><!--/.row -->
      </div><!--/.container -->
      <div class="clear"></div>
    </div><!--/ #topbar-inner -->
  </div><!--/ #section-topbar -->
  
  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-12">
          <h1>dj da - dan ancona</h1>
          <h3>sonic excellence for unlocking emotions and other good times. follow me on twitch <a href="https://www.twitch.tv/thedjda">@thedjda</a>!</h3>
        </div><!--/.col-lg-12 -->
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/.#headerwrap -->
  
  <section id="work" name="work"></section>
  <!--PORTFOLIO DESCRIPTION -->
  <div class="container desc">

<!--     <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>2016</h5>
      </div>
    </div>
 -->

 <div markdown="1">

    <div class="row">
      <div class="col-lg-6 col-lg-offset-2">
        <p><img class="img-responsive" src="{{page.img}}" alt=""></p>
      </div>

      <div class="col-lg-3">
        <p style="margin-bottom: 5px">{{page.title}}</p>

        <p style="margin-top: 5px">{{page.date}} {{page.year}} {{page.desc|markdownify}}</p>

        {% if page.mp3 %}
          <div class="ui360">
           <a href="https://static.danancona.com{{page.mp3}}"></a>
          </div>
          <a href="https://static.danancona.com{{page.mp3}}">download</a><br/>
          {% if page.size %} [{{page.size}} Mb]{% endif %}<br/>
        {% endif %}

        {% for mp3 in page.mp3list %}
          <div class="ui360">
           <a href="https://static.danancona.com{{mp3}}"></a>
          </div>
          <a href="https://static.danancona.com{{mp3}}">download part {{forloop.index}}</a><br/>
        {% endfor %}

        {% if page.tags %}<sm><i class="icon-tag"></i>{{page.tags}}</sm>{% endif %}
      </div>
    </div>

</div>



    <br>
    <br>
  </div><!--/.container -->
  


  <section id="contact" name="contact"></section>
  <!--FOOTER DESCRIPTION -->
  <div id="footwrap">
    <div class="container">
      <div class="row">
      
        <div class="col-lg-2 col-lg-offset-1">
          <h5>CONTACT</h5>
        </div>
        <div class="col-lg-6">
          <p><t>Email</t><br/>
            da@simplerevolutions.com <br/>
          </p>
          <p><t>Geo</t><br/>
            Oakland, California. <br/>
            USA <br/>
          </p>
        </div>
        <div class="col-lg-3">
          <p><sm>SOCIAL LINKS</sm></p>
          <p>
            <a href="http://twitter.com/DanAncona/"><i class="icon-twitter"></i></a>
            <a href="https://www.facebook.com/dan.ancona?_rdr"><i class="icon-facebook"></i></a>
            <a href="http://www.linkedin.com/in/danancona"><i class="icon-linkedin"></i></a>
            <a href="https://medium.com/@DanAncona"><i class="icon-font"></i></a>
            <a href="http://danancona.blogspot.com/"><i class="icon-bold"></i></a>
          </p>
        </div>
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/ #footer -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/bootstrap.js"></script>
</body>
</html>
