<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">

    <title>Dan Ancona: Democracy and Imagination</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/smoothscroll.js"></script> 

    <meta property="og:url"                content="http://danancona.com/" />
    <meta property="og:title"              content="Dan Ancona" />
    <meta property="og:description"        content="Dan Ancona creates stories and builds and evangelizes online tools that connect people and strengthen democracy. He has helped create and build interest in numerous products in twenty years of experience in startups, technology companies and academia, with a research focus on visualization and geographic information." />
    <meta property="og:image"              content="http://danancona.com/assets/img/me-signing.jpg" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72393561-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-72393561-3');
    </script>

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">

    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1>Dan Ancona</h1>
                    <h3>Vision, strategy, and execution for democratic and civic engagement.</h3>
                </div><!--/.col-lg-12 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </div><!--/.#headerwrap -->

    <div id="section-topbar">
        <div id="topbar-inner">
            <div class="container">
                <div class="row">
                    <div class="dropdown">
                        <ul id="nav" class="nav">
                          <li class="menu-item"><a href="/djda" title="djda sets"><i class="icon-music"></i></a></li>
                          <li class="menu-item"><a href="https://tinyletter.com/danancona" title="Intrigued by my ideas? Sign up for my newsletter."><i class="icon-envelope"></i></a></li>
                          <li class="menu-item"><a href="https://www.facebook.com/dan.ancona" title="On the Facebooks"><i class="icon-facebook"></i></a></li>
                          <li class="menu-item"><a href="https://twitter.com/danancona/" title="On the Twitters"><i class="icon-twitter"></i></a></li>
                          <li class="menu-item"><a href="https://www.instagram.com/danancona/" title="On the Instagrams"><i class="icon-instagram"></i></a></li>
                        </ul><!--/ uL#nav -->
                    </div><!-- /.dropdown -->

                    <div class="clear"></div>
                </div><!--/.row -->
            </div><!--/.container -->

            <div class="clear"></div>
        </div><!--/ #topbar-inner -->
    </div><!--/ #section-topbar -->

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    <section id="contact" name="contact"></section>
    <!--FOOTER DESCRIPTION -->
    <div id="footwrap">
        <div class="container">
            <div class="row">
            
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>CONTACT</h5>
                </div>
                <div class="col-lg-6">
                    <p><t>Email</t><br/>
                        dan@simplerevolutions.com <br/>
                    </p>
<!--                     <p>
                        <t>Bot</t><br/>
                        <a href="http://m.me/DansBrainBot">FB Messenger</a><br/>
                    </p>
 -->
                    <p><t>Geo</t><br/>
                        Oakland, California. <br/>
                        USA <br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>SOCIAL LINKS</sm></p>
                    <p>
                        <a href="http://twitter.com/DanAncona/"><i class="icon-twitter"></i></a>
                        <a href="https://www.facebook.com/dan.ancona?_rdr"><i class="icon-facebook"></i></a>
                        <a href="http://www.linkedin.com/in/danancona"><i class="icon-linkedin"></i></a>
                        <a href="https://medium.com/@DanAncona"><i class="icon-font"></i></a>
                        <a href="http://danancona.blogspot.com/"><i class="icon-bold"></i></a>
                    </p>
                </div>
            </div><!--/.row -->
        </div><!--/.container -->
    </div><!--/ #footer -->

  </body>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/assets/js/bootstrap.js"></script>

<script type="text/javascript">
// $( document ).ready(function() {
//   $(".button-collapse").sideNav();
//   $('.parallax').parallax();
//   console.log( "ready!" );
// });
</script>

</html>
